*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(120deg,#B2FEFA , #0ED27f);
    min-height: 100vh;

}

.container{
   max-width: 800px;
   margin: auto;
   padding: 10px;
}

.txtb{
    width: 100%;

    border: 1px solid #000000; 
    background: none;  
    padding: 10px; 
    font-size: 18px;
}

h3{
    margin: 10px 0;
}

.textBox{
    background: none;
    border: none;
}

.task{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin:6px 0;
    overflow :hidden
}

.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.task .dT{
    float: right;
    padding-left: 20px;
}

.comp .task{
    background:#000;
    color:#fff;
}

.completed{
    text-decoration: line-through;
   
}



